body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    color:#575757 ;
}

h1{
    font-size: 50px;
    font-weight: bolder;
}

h2{
    font-size: 40px;
    font-weight: 900;
}

p{
    font-size: 22px;
}

.flexible{
    display: flex;
}

.half-width{
    width: 50%;
}

.half-width img{
    width: 100%;
}

.orange-text{
    color:#FBA24F;
}

.fancy-button{
    background-image: linear-gradient(135deg,#FBA24F,#FF1E1E);
    color:white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5em;
    font-size: 17px;
}

.banner-left{
    padding: 90px;
}

.about-me{
    background-image: url(/food-network/images/shapes/7.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10%;
    height: 60vh;
}

#person-image{
    width: 50%;
}

.recipie-box{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.185) ;
    width: 40%;
    margin: 3%;
    padding: 2%;
    border-radius: 2em;
}

.recipie-box-main{
    padding-left: 70px;
    padding-right: 70px;
}

.read-more-btn{
    margin-bottom: 15px;
}

.read-more-btn a{
    text-decoration: none;
    background-color: black;
    padding:15px 30px;
    color: white;
    margin-bottom: 15px;
}

.follower-num{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.109);
    border-radius: 2em;
    margin:40px auto;
    width: 85%;
    height: 40vh;
    text-align: center;
    color: black;
}

.followers{
    font-size: 40px;
    font-weight: bolder;
    line-height: 10px;
}

.followers-box{
    padding: 5%;
    margin: auto;
}

footer{
    height: 35vh;
    background-color: #0b0d17;
    color: white;
    text-align: center;
    padding: 2%;
    line-height: 50px;
}

hr{
    width: 30%;
    height: 2px;
    background-color: black;
}
.contact-box-main{
    width: 85%;
    height: 75vh;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.089);
    margin: 90px auto;
    padding: 10px 50px;
    border-radius: 2em;
}

.contact-box-right{
    padding-left: 50px;
    margin: 0 auto;
       
}

input{
    padding: 10px 20px;
    font-size: 1em;
    width: 50ch;
    margin: auto;
    border-style: solid;
}

label{
    line-height: 40px;
    font-weight: bolder;
}

textarea{
    padding: 20px;
    border: 1px solid;
    font-size: 20px;
}

.submit button{
    background-color: black;
    padding:15px 30px;
    color: white;
    margin: 15px 15px 15px 0px;
}